[submodule "plato/models/dvit"]
	path = plato/models/dvit
	url = https://github.com/zhoudaquan/dvit_repo
[submodule "plato/models/t2tvit"]
	path = plato/models/t2tvit
	url = https://github.com/yitu-opensource/T2T-ViT
