alabaster
babel
beautifulsoup4
certifi
charset-normalizer
colorama
docutils
furo
idna
imagesize
importlib-metadata
jinja2
markdown-it-py
markupsafe
mdit-py-plugins
mdurl
myst-parser
packaging
pygments
pyparsing
pytz
pyyaml
requests
snowballstemmer
soupsieve
sphinx-basic-ng
sphinx-copybutton
sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
typing-extensions
urllib3
zipp